:root{
    --primary:#e41414;
    --light : #EEEEEE;
    --dark:#161616;
    --primaryLight:#f17171;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}
a{
    text-decoration: none;
}
.redIcon{
    color: var(--primary);
}
.divCenter{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
header{
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 70px;
}

/* Splash screen*/

.intro{
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/*Navbar*/

.container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}
.navH1{
    color: #ffffff;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
}
.hamburger{
    display: block;
    position: relative;
    z-index: 99;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}
.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);
}
.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}
.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}
.hamburger.is-active:hover span{
    background-color: var(--primary);
}
.menu{
    display: none;
    flex:1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}
.menu a{
    color:#fff;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}
.menu a.is-active, .menu a:hover{
    background-color: var(--primary);
}
/*Navbar Mobile*/
.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 1;
    background-color: var(--dark);
    padding-top: 120px;
}
.mobile-nav  a{
    display: block;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin:0 auto 16px;
    padding: 12px 16px;
    background-color: gray;
    color: var(--primary);
    text-decoration: none;
    transition: 0.4s;
}
.mobile-nav a:hover{
    background-color: var(--primaryLight);
}
.mobile-nav.is-active{
    left: 0;
}
/*SECTION A PROPOS*/
.about-wrapper{
    height: auto;
}
.about-left{
    background-color: var(--primaryLight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-left-content > div{
    background: var(--primaryLight);
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    text-align: center;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow:0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow:0px 0px 18px -1px rgba(0,0,0,0.39);
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.about-shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.about-shadow::after{
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
.about-shadow:hover .about-img{
    transform: translateY(-10px);
}
.about-shadow:hover::after{
    opacity: 1;
}
.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #efffec;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.about-icons{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.about-icons li{
    list-style: none;
    background: var(--primary);
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.about-icons li:hover{
    background: #efffec;
    color: #000;
}
.about-right{
    background-color: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about-right h1{
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.about-right h1 span{
    color: var(--primary);
}
.about-right h2{
    font-weight: 600;
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background-color: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}
.btn.btn-red{
    background: var(--primary);
    color: #fff;
    border-color: var(--primary);
    transition: all 0.5 ease-in-out;
}
.btnCv{
    color: #fff;
}
.btnCv:hover{
    background: transparent;
    border-color: var(--primary);
    color: #000; 
}
.btn.btn-red:hover{
    background: transparent;
    border-color: var(--primary);
    color: #000;
}
.btn.btn-gray{
    transition: all 0.5s ease-in-out;
}
.btnProjet{
    color: #000;
}
.btnProjet:hover{
    color: #fff;
}
.btn.btn-gray:hover{
    background: var(--primary);
    border-color: var(--primary);
    color: #fff;
}
.about-para p{
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}
/*SKILL SECTION*/
section > header{
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
    padding: 24px;
    color: var(--primary);
}
section .skill{
    display: grid;
    grid-gap: 16px;
    padding: 16px;
    max-width: 1025px;
    margin-inline: auto;
}
.skill .skill-set{
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    cursor: pointer;
}
.skill .skill-set:hover{
    box-shadow: 0px 12px 16px #36363624;
}
.skill-set span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 48px;
    background-color: var(--primary);
    color: white;
    border-radius: 35%;
    margin-inline: auto;
}
.skill-set > header{
    padding-block: 24px;
    font-size: 24px;
    color: var(--primary);
    text-align: center;
    text-transform: capitalize;
}
.skill-set .skill-list{
    padding-block: 8px;
    display: grid;
    grid-template-columns: 1fr 28px;
    color: #888888;
    text-transform: uppercase;
}
.skill-set:hover .skill-list{
    color: #363636;
}
/* TIME LINE */
.timeline-wrapper{
    width: 100%;
    height: auto;
    background-color: rgb(245,245,245);
    padding: 50px 0;
    display: grid;
    place-items: center;
}
.timeline-wrapper .head-wraper{
    font-size: 27px;
    font-weight: 500;
    color: var(--primary);
    position: relative;
    margin-bottom: 80px;
}
.head-wraper::after{
    position: absolute;
    content: '';
    width: 50%;
    height: 4px;
    left: 50%;
    bottom: -5px;
    background-image: linear-gradient(to right, var(--primary), var(--primaryLight));
    transform: translateX(-50%);
}
.timeline-container{
    width: 70%;
    height: auto;
    position: relative;
}
.timeline-container::after{
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--primary), var(--primaryLight));
}
.timeline-container ul{
    list-style: none;
}
.timeline-container ul li{
    width: 50%;
    height: auto;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.384);
    border-radius: 10px;
    margin-bottom: 30px;
    z-index: 97;
    position: relative;
}
.timeline-container ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
    text-align: right;
}
.timeline-container ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
}
.timeline-container ul li:nth-child(4){
    margin-bottom: 0;
}
.timeline-container ul li .timeline-title{
    font-size: 18px;
    font-weight: 500;
    color: var(--primary);
}
.timeline-container ul li p{
    font-size: 15px;
    color: #444;
    margin: 7px 0;
    line-height: 23px;
}
.timeline-container ul li a{
    font-size: 15px;
    color: var(--primary);
    text-decoration: none;
}
.timeline-container ul li .timeline-date{
    position: absolute;
    top: -48px;
    width: 135px;
    height: 35px;
    border-radius: 20px;
    color: #fff;
    background-image: linear-gradient(to right, var(--primary), var(--primaryLight));
    display: grid;
    place-items: center;
    font-size: 14px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.418);
}
.timeline-container ul li:nth-child(odd) .timeline-date{
    right: 20px;
}
.timeline-container ul li .timeline-circle{
    width: 30px;
    height: 30px;
    background-color: var(--primaryLight);
    border-radius: 50%;
    position: absolute;
    top: 0;
}
.timeline-container ul li .timeline-circle::after{
    content: '';
    width: 15px;
    height: 15px;
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.timeline-container ul li:nth-child(odd) .timeline-circle{
    right: -30px;
    transform: translate(50%, -50%);
}
.timeline-container ul li:nth-child(even) .timeline-circle{
    left: -30px;
    transform: translate(-50%, -50%);
}
/* PROJET SECTION*/
#project-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
}
.project-heading{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.project-heading h3{
    font-size: 2.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
}
.project-heading span{
    color: var(--primary);
}
.project-filter{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid rgba(237,237,237,0.6);
    flex-wrap: wrap;
    margin: 20px;
}
.project-filter li{
    list-style: none;
    margin: 10px;
    padding: 5px 20px;
    color: #9b9b9b;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}
.project-filter-active{
    background-color: #f0f0f0;
    color: #272727;
}
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin:auto;
}
.project-box{
    width: 330px;
    padding:15px;
    border: 1px solid #eeeeee;
    margin: 20px;
}
.project-box img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}
/* MEDIA QUERY*/
@media(max-width:740px){
    /*PROJECT SECTION*/
    .project-filter{
        background-color: #f9f9f9;
        border: 1px solid rgba(0,0,0,0.05);
    }
    .project-filter-active{
        background-color: #ffffff;
        border: 1px solid rgb(219,219,219);
    }
    .project-box{
        width: 80%;
    }
}
@media(max-width:550px){
    .project-container{
        width: 80%;
    }
    .project-heading{
        font-size: 1.8rem;
    }
    .project-heading h3{
        font-size: 12px;
    }
}
@media (min-width:768px){
    /*NAV*/
    .hamburger{
        display: none;
    }
    .menu{
        display: flex;
    }
}
@media(min-width:768px){
    /*NAV*/
    .mobile-nav{
        display: none;
    }
    .hamburger{
        display: none;
    }
}
@media screen and (min-width:600px) {
    .skill{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:600px) {
    .skill{
        grid-template-columns: repeat(1fr);
    }
}
@media screen and (min-width :992px) {
    /*ABOUT SECTION*/
    .about-right{
        height: auto;
    }
    .about-right h1{
        font-size: 7rem;
    }
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        right: -50px;
    }
}
@media screen and (max-width:1224px) {
	.timeline-container{
		width: 85%;
	}
}

@media screen and (max-width:933px) {
	.timeline-container{
		width: 80%;
		transform: translateX(15px);
	}
	.timeline-container::after{
		left: -30px;
	}
	.timeline-container ul li{
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}
	.timeline-container ul li:nth-child(odd){
		transform: translateX(0);
		text-align: left;
	}
	.timeline-container ul li:nth-child(odd) .timeline-date{
		left: 20px;
	}
	.timeline-container ul li:nth-child(odd) .timeline-circle{
		left: -30px;
		transform: translate(-50%, -50%);
	}
	.timeline-container ul li:nth-child(even){
		transform: translateX(0);
	}
}


.services {
    min-height: auto;
    padding: 80px 0;
}

.services .service-items{
   flex:0 0 100%;
   max-width: 100%;
}
.services .service-items .item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 15px;
}

.services .service-items .item-inner{
   border:1px solid #dddddd;
   padding: 30px;
}
.services .service-items .read-more-cont{
   display: none;
}
.services .service-items .item-inner h3{
   font-size: 20px;
   color:#000000;
   margin-bottom: 30px;
   position: relative;
}
.services .service-items .item-inner h3::before{
 content: '';
 height: 1px;
 width: 80px;
 background-color: #000000;
 position: absolute;
 left:0;
 bottom:-10px;
}

.services .service-items .item-inner p{
   color:#555555;
   font-size: 16px;
   margin:0 0 30px;
}
.services .service-items .item-inner .btnP{
   font-size: 16px;
   background-color: transparent;
   border:1px solid #555555;
   color:#555555;
   padding: 8px 15px;
   cursor: pointer;
}

.popup-box{
   position: fixed;
   height: 100%;
   width: 100%;
   left: 0;
   top:0;
   background-color: rgba(0,0,0,0.5);
   z-index: 500;
   visibility: hidden;
   opacity:0;
   transition: all 0.5s ease-in-out;
}
.popup-box.open{
 visibility: visible;
   opacity:1;	
}
.popup-box .popup-content{
   background-color: #ffffff;
   width: 700px;
   position: absolute;
   left: 50%;
   top:50%;
   transform: translate(-50%,-50%);
   border-radius: 8px;
}

.popup-box .popup-header{
   padding: 15px 40px 15px 15px;
   border-bottom: 1px solid #dddddd;
}
.popup-box .popup-header h3{
   margin:0;
   color:#E91E63;
   font-size: 20px;
}
.popup-box .popup-header .popup-close-icon{
   position: absolute;
   height: 30px;
   width: 30px;
   text-align: center;
   color: #555555;
   font-size: 28px;
   line-height: 30px;
   right: 5px;
   top: 5px;
   cursor: pointer;
}
.popup-box .popup-body{
   padding: 15px;
   max-height: 425px;
   overflow-y: auto;
}
.popup-box .popup-body img{
   width: 100%;
   display: block;
   margin-top: 15px;
}
.popup-box .popup-body p{
   font-size: 16px;
   color:#555555;
   margin:0 0 15px;
}
.popup-box .popup-footer{
   padding: 15px;
   border-top:1px solid #dddddd;
   text-align: right;
}
.popup-box .popup-footer .btnP{
   padding: 8px 15px;
   border:1px solid #555555;
   color:#555555;
   font-size: 16px;
   background-color: transparent;
   cursor: pointer;
   border-radius: 4px;
}
.popup-box .popup-footer .btnP:focus{
   outline: none;
}
.post-slider {
    position: relative;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #2980B9;
    cursor: pointer;
  }
  
  .post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #2980B9;
    cursor: pointer;
  }
  
 

/*responsive*/

@media(max-width: 767px){
   .services .service-items .item{
     flex:0 0 100%;
     max-width: 100%;
  }
  .popup-box .popup-content{
       width: calc(100% - 30px);
  }
}